# Instructions: Copy this file to .env and reach out to an admin to fill in any missing values.
# Never commit your .env file to source control.

# App
NODE_ENV=development            # Informs how the application is built [development, production, test]
PORT=8083
EMAIL_SYNC_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/362850210751/envoy-email-sync-events-dev
EMAIL_SERVICE_API_KEY=

# External services
MICROSOFT_GRAPH_NOTIFICATION_URL=http://127.0.0.1:8083/webhooks/microsoft/lifecycle
MICROSOFT_GRAPH_LIFECYCLE_URL=http://127.0.0.1:8083/webhooks/microsoft/graph
MICROSOFT_GRAPH_CLIENT_STATE_SECRET=
GMAIL_PUBSUB_TOPIC=